In [3]:
import pandas as pd
series=pd.Series(['BMW', 'AUDI', 'PORSCHE'])
series

0        BMW
1       AUDI
2    PORSCHE
dtype: object

In [4]:
colours=pd.Series(['Red', 'White', 'Blue'])

In [5]:
colours

0      Red
1    White
2     Blue
dtype: object

In [11]:
car_data=pd.DataFrame({"car marke":series, "colours":colours})
car_data

  car marke colours
0       BMW     Red
1      AUDI   White
2   PORSCHE    Blue

In [12]:
#importing data
car_sales=pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [13]:
#exporting dataframe
car_sales.to_csv("exported-car-sales.csv")

In [15]:
exported_car_sales=pd.read_csv("exported-car-sales.csv")
exported_car_sales

   Unnamed: 0    Make Colour  Odometer (KM)  Doors       Price
0           0  Toyota  White         150043      4   $4,000.00
1           1   Honda    Red          87899      4   $5,000.00
2           2  Toyota   Blue          32549      3   $7,000.00
3           3     BMW  Black          11179      5  $22,000.00
4           4  Nissan  White         213095      4   $3,500.00
5           5  Toyota  Green          99213      4   $4,500.00
6           6   Honda   Blue          45698      4   $7,500.00
7           7   Honda   Blue          54738      4   $7,000.00
8           8  Toyota  White          60000      4   $6,250.00
9           9  Nissan  White          31600      4   $9,700.00