In [3]:
import pandas as pd
series=pd.Series(['BMW', 'AUDI', 'PORSCHE'])
series

0        BMW
1       AUDI
2    PORSCHE
dtype: object

In [4]:
colours=pd.Series(['Red', 'White', 'Blue'])

In [5]:
colours

0      Red
1    White
2     Blue
dtype: object

In [11]:
car_data=pd.DataFrame({"car marke":series, "colours":colours})
car_data

  car marke colours
0       BMW     Red
1      AUDI   White
2   PORSCHE    Blue